#resellers
.pki
.ssh
.composer
.bash_history
.bash_profile
.bash_logout
.bashhrc
.kshrc
cgi-bin
logs
oe-access
oe-tools

/_html
/tmp
.htaccess
# phpstorm project files
.idea

htdocs/.env

# client icons
htdocs/src/assets/web/img/icons/client

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/htdocs/vendor

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# apidoc generated documentation
/htdocs/docs-html

# phpunit itself is not needed
/htdocs/phpunit.phar

# local phpunit config
/phpunit.xml

# IDEs
nbproject
.DS_Store
.idea
*.swp
.vagrant
logs

htdocs/local.php
htdocs/docker-compose.override.yml
htdocs/version
htdocs/.phptidy-cache
htdocs/src/config/gen

htdocs/node_modules

htdocs/web/assets
