/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 18-Jul-2016, 11:59:42
    Author     : developer
*/

#sms-texts {

    span.personName-1, span.personName-2 {
        font-style: italic;
        color: @brand-primary;
    }

    span.personName-3 {
        font-style: italic;
        color: #31bb63;
    }

    span.personSay-1 {  }
    span.personSay-2 {  }
    span.personSay-3 {  }

    hr {
        margin-top: 7px;
        margin-bottom: 9px;
        border-top: 1px solid @brand-primary;
    }

    li { list-style: none;}
    ul {
        margin: 0;
        padding: 10px 8%;
        width: 100%;
    }

    .input-group.input-group-addon {
        border: 1px solid #c5c2c2;
    }


    span.sms-time {
        float: right;
        color: @gray;
    }


    .bubble-1::before {
        background-color: #F2F2F2;
        content: "\00a0";
        display: block;
        height: 16px;
        position: absolute;
        top: 11px;
        transform:             rotate( 29deg ) skew( -35deg );
        -moz-transform:    rotate( 29deg ) skew( -35deg );
        -ms-transform:     rotate( 29deg ) skew( -35deg );
        -o-transform:      rotate( 29deg ) skew( -35deg );
        -webkit-transform: rotate( 29deg ) skew( -35deg );
        width:  20px;
        box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
        left: -9px;

    }

    .bubble-1{
        background-color: #F2F2F2;
        border-radius: 5px;
        box-shadow: 0 0 6px #B2B2B2;
        display: inline-block;
        padding: 10px 18px;
        position: relative;
        vertical-align: top;
        margin: 10px 10px;
        border-color: #cdecb0;
        /* width: 60%;*/
        min-height: 55px;
        clear: left;
        min-width: 51%;

        span.glyphicon.glyphicon-comment,
        span.glyphicon.glyphicon-earphone
        {
            font-size: 18px;
            color: @brand-primary;
        }


    }



    .bubble-3::before {
        background-color: #F2F2F2;
        content: "\00a0";
        display: block;
        height: 16px;
        position: absolute;
        top: 11px;
        transform:             rotate( 29deg ) skew( -35deg );
        -moz-transform:    rotate( 29deg ) skew( -35deg );
        -ms-transform:     rotate( 29deg ) skew( -35deg );
        -o-transform:      rotate( 29deg ) skew( -35deg );
        -webkit-transform: rotate( 29deg ) skew( -35deg );
        width:  20px;
        box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
        left: -9px;

    }

    .bubble-3{
        background-color: #F2F2F2;
        border-radius: 5px;
        box-shadow: 0 0 6px #B2B2B2;
        display: inline-block;
        padding: 10px 18px;
        position: relative;
        vertical-align: top;
        margin: 10px 10px;
        border-color: #cdecb0;
        /* width: 60%;*/
        min-height: 55px;
        clear: left;
        min-width: 51%;

        span.glyphicon.glyphicon-comment,
        span.glyphicon.glyphicon-earphone
        {
            font-size: 18px;
            color: @brand-primary;
        }
    }



    .bubble-2::before {
        float:right;
        background-color: #dfeecf;
        content: "\00a0";
        display: block;
        height: 19px;
        /*position: absolute;*/
        position:relative;
        left: 26px;
        top: 11px;
        transform:             rotate( 205deg ) skew( -35deg );
        -moz-transform:    rotate( 205deg ) skew( -35deg );
        -ms-transform:     rotate( 205deg ) skew( -35deg );
        -o-transform:      rotate( 205deg ) skew( -35deg );
        -webkit-transform: rotate( 205deg ) skew( -35deg );
        width:  20px;
        box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );

    }

    .bubble-2{
        float: right;
        background-color: #dfeecf;
        border-radius: 5px;
        box-shadow: 0 0 6px #B2B2B2;
        display: inline-block;
        padding: 10px 18px;
        position: relative;
        vertical-align: top;
        margin: 10px 10px;
        border-color: #cdecb0;
        min-height: 55px;
        clear: right;
        min-width: 51%;

        span.glyphicon.glyphicon-comment,
        span.glyphicon.glyphicon-earphone
        {
            font-size: 18px;
            color: @brand-primary;
        }

    }


    span.messageType {
        float: right;
    }

}
