@charset 'utf-8';
// This is the master include file
//
// Inspired by Sass Guidelines: http://sass-guidelin.es/
// and using a variant of the 7-1 pattern for organizing
// sass partials ( http://sass-guidelin.es/#the-7-1-pattern )


// Common style and global variables/mixins
// that does not depend on vendors
@import "1-common/colors";
@import "1-common/mixins";
@import "1-common/functions";
@import "1-common/fixes";
@import "1-common/foundation-settings";

// Vendors
@import "2-vendors/zurb-foundation";
@import "2-vendors/fontawesome";
@import "../vendor/bower/sass-rem/rem";

// Global styling that makes use of vendors
@import "3-global/site";
@import "3-global/typography";
@import "3-global/topbar";
@import "3-global/yii";

// Components that could be used in multiple pages
//@import "4-components/all";

// Page specific style
@import "5-pages/index";

// Elements
// When a style file becomes too big
// it can be split up.
// Indivual elements gets placed here
// in subdirectories named after the page/name
//@import "6-elements/all";
